<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Rol</ion-label>
    <ion-select [(ngModel)]="role" placeholder="Seleccionar rol">
      <ion-select-option value="ESTUDIANTE">Estudiante</ion-select-option>
      <ion-select-option value="PROFESOR">Profesor</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="onRegister()">Registrar</ion-button>
</ion-content>
