<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onChangePassword()">
    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input type="password" [(ngModel)]="oldPassword" name="oldPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Cambiar Contraseña</ion-button>
  </form>
</ion-content>
