<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img class="logo"src="assets/icon/icono.png" alt="">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="welcome-container">
    <h1>Bienvenido/a {{user}}</h1>
    <p>comparte este qr con la clase para confirmar asistencia/p>

    <qrcode [qrdata]="qrData"></qrcode>

    <ion-button expand="full"  (click)="goToCambiarPassword()">
      Cambiar Contraseña
    </ion-button>
  </div>
</ion-content>
