<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <div class="form-group">
      <label for="ejemail">Correo Electronico</label>
      <input type="email" class="form-control" id="ejemail" aria-describedby="emailHelp" placeholder="Ingrese correo Electronico">
    </div>
    <div class="form-group">
      <label for="ejcontraseña">Contraseña</label>
      <input type="password" class="form-control" id="ejcontraseña" placeholder="Ingrese Contraseña" min="5" max="20">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</ion-content>
